# 1. Write a Python program to accept a string value from the user and display
the count of each character in that string.

In [46]:
def count_characters(string):
    # Create an empty dictionary to store character counts
    char_count = {}

    # Count each character in the string
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    return char_count

# Prompt the user to enter a string
input_string = input("Enter a string value: ")

# Get the character counts
character_counts = count_characters(input_string)

# Print the results
print("Sample output:", end=" ")
for char, count in character_counts.items():
    print(f"{char}={count},", end=" ")
print()  # to move to the next line after the loop

Enter a string value: assembly
Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1,

# 2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7

In [ ]:
def max(a,b,c):
  if a >= b and a >=c:
    print("Large", a)
  elif b >= c and b >=c:
    print("Large", b)
  else:
    print("Large",c)


a=int(input("Enter a first number:"))
b=int(input("Enter a second number:"))
c=int(input("Enter a third number:"))

max(a,b,c)

Enter a first number:34
Enter a second number:12
Enter a third number:7
Large 34

# 3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp.

In [ ]:
def expp(base,exp):
  print(base**exp)

base=int(input("Enter the base:"))
exp=int(input("Enter the exponent:"))

expp(base,exp)

Enter the base:2
Enter the exponent:3
8

# 4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.

In [ ]:
def cube(n):
  sum=0
  for i in range(1,n):
    sum += i**3

  return sum

n=int(input("Enter a number:"))
cube(n)

Enter a number:4

36

#5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10

In [ ]:
for i in range (1,11):
  if i % 2 == 0 and  i % 5 ==0 :
    print("FizzBuzz")
  elif i % 2 ==0 :
    print("Fizz")
  elif i % 5==0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

# 6. Write a Python program to find the most frequent item in a list of
numbers.

In [49]:
def most_frequent(numbers):
    # Dictionary to store frequency of each number
    frequency = {}

    # Count frequency of each number in the list
    for num in numbers:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1

    # Find the number with maximum frequency
    most_frequent_num = None
    max_frequency = 0
    for num, freq in frequency.items():
        if freq > max_frequency:
            max_frequency = freq
            most_frequent_num = num

    return most_frequent_num

# Sample input list of numbers
numbers = [2, 3, 4, 2, 5, 2]

# Find the most frequent number
result = most_frequent(numbers)
print(f"The most frequent number is: {result}")

The most frequent number is: 2

# 7. Write a Python program to find the sum of squares of the numbers in a
list.

In [ ]:
def listsum(list):
  sum=0
  for i in list:
    sum += i **2
  return sum

list=[2,1,3,1]
listsum(list)

15

# 8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.

In [ ]:

for i in range(1,16):
  if i%2==0:
    print(i,"Is even")
  else:
    print(i,"Is odd")

1 Is odd
2 Is even
3 Is odd
4 Is even
5 Is odd
6 Is even
7 Is odd
8 Is even
9 Is odd
10 Is even
11 Is odd
12 Is even
13 Is odd
14 Is even
15 Is odd

# 9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [48]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Example usage:
celsius_temperature = 5
fahrenheit_temperature = 41

converted_fahrenheit = celsius_to_fahrenheit(celsius_temperature)
converted_celsius = fahrenheit_to_celsius(fahrenheit_temperature)

print(f"{celsius_temperature} degrees Celsius is equal to {converted_fahrenheit} degrees Fahrenheit.")
print(f"{fahrenheit_temperature} degrees Fahrenheit is equal to {converted_celsius} degrees Celsius.")

5 degrees Celsius is equal to 41.0 degrees Fahrenheit.
41 degrees Fahrenheit is equal to 5.0 degrees Celsius.

# 10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). T

In [45]:
def fact(n):
  if n==0:
    return 1

     # Recursive case: factorial of n is n multiplied by factorial of (n-1)
  else:
        return n * fact(n - 1)

n=int(input("Enter a number:"))
fact(n)

Enter a number:3

6